html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  background: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90vw;
  max-width: 600px;
  text-align: center;
  padding: 5vh 5vw;
  box-sizing: border-box;
}

.title {
  font-size: 6vw;
  color: #000;
  margin-bottom: 2vh;
}

.dday {
  font-size: 14vw;
  font-weight: bold;
  color: #000;
  line-height: 1.1;
}
