html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-weight: 900;
  background: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  padding: 5vmin;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  font-size: 10vw;
  color: #000;
  line-height: 1.1;
}

.counter {
  font-size: 22vw;
  color: #000;
  margin-top: 2vmin;
  line-height: 1;
}
